.auth-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
}

.auth-form{
    padding: 1.5rem 2rem;
    width: 35%;
    box-shadow: 0 5px 10px rgb(65, 64, 64);
}

.user-input{
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    outline: none;
    margin: 5px 0px 2rem 0px;
    width: 100%;
}

.label{
    margin:0 0 10px 0px;
}

.login-signup-btn{
    width: 95%;
}

.create{
    text-align: center;
    margin-top: 1.5rem;
}